<footer class="row">
    <div class="col-sm">
        <h3>Footer section</h3>
        <p>
            Footer content
        </p>
    </div>
    <div class="col-sm">
        <h3>Footer section</h3>
        <p>
            Footer content
        </p>
    </div>
    <div class="col-sm">
        <h3>Footer section</h3>
        <p>
            Footer content
        </p>
    </div>
</footer>
