<!-- Anonymous header -->
<a class="btn btn-primary" asp-controller="Account" asp-action="Login">Logg inn</a>
<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Create">Registrer deg</a>
