                <article class="content error-404-page">
	<section class="section">
		<div class="error-card">
			<div class="error-title-block">
				<h1 class="error-title">404</h1>
				<h2 class="error-sub-title"> Beklager, vi klarte ikke å finne siden </h2>
			</div>
			<div class="error-container">
				<p>Hvorfor ikke prøve vår flotte søkefunksjon i stedet?</p>
				<div class="row">
					<div class="col-12">
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-primary ml-2 mt-1 mb-1" type="button">Search</button>
							</span>
						</div>
					</div>
				</div>
				<br>
				<a class="btn btn-primary" asp-controller="Dashboard" asp-action="Index">
					<i class="fa fa-angle-left"></i> Tilbake til kontrollpanelet</a>
			</div>
		</div>
	</section>
</article>
