@model Assignment
<h2>Slett oppgave</h2>
<p class="lead">
    Oppgaven lar seg ikke gjenopprette når den først har blitt slettet. Er du sikker på at du vil fortsette?
</p>
<hr />
<div class="card card-danger">
    <div class="card-header">
        <div class="header-block">
            <p class="title text-light">
                <i class="fa fa-trash fa-2x mr-2"></i>
            </p>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle">i faget <a asp-controller="Course" asp-action="Info" asp-route-id="@Model.CourseId">@Model.Course.Title</a></h6>
        <hr />
        <p class="card-text">
            <strong>Om oppgaven</strong><br />
            @Model.Description
        </p>
    </div>
    <div class="card-footer"></div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-primary" asp-action="Index"><i class="fa fa-times"></i> Avbryt</button>
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Slett</button>
</form>
